:root {
  /* define colors */
  /* --bg-main-color: #222831; */
  --bg-main-color: #0f1624;

  --fs-h-large: 26px;
  --fs-h-medium: 20px;
  --fs-body-1: 14px;

  /* paddings and margins */
  --desktop-padding-inline: 12rem;
  --desktop-padding-block: 5rem;
}

h1,
h2,
h3,
p,
div,
img,
span,
button,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 80%;
}

button {
  font-family: inherit;
  color: inherit;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-main-color);
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 5rem;
  grid-template-rows: auto;
  height: 100vh;
  margin-inline: min(12rem, 10%);
  margin-block: 5rem;
  font-family: "Poppins", sans-serif;
}

.text-white {
  color: white;
}

.text-violet {
  color : radial-gradient(circle, rgba(19,173,199,1) 3%, rgba(105,120,209,1) 51%, rgba(148,93,214,1) 80%);
}

.text-secondary {
  color: white;
}

.header-large {
  font-size: var(--fs-h-large);
  line-height: 1;
  font-weight: 700;
}

.header-medium {
  font-size: var(--fs-h-medium);
  font-weight: 600;
}

.body-text-1 {
  font-size: var(--fs-body-1);
  font-weight: 500;
}

/* sections */

header {
  position: fixed;
  width: calc(40% - 5rem);
}

.header-text {
  margin-right: 2rem;
}

.header-text > *:not(:last-child) {
  margin-bottom: 1rem;
}

/* navigation */
nav {
  margin-top: 3rem;
}

nav > ul {
  padding: 0;
}

nav > ul > li {
  list-style: none;
  position: relative;
  width: fit-content;
}

nav > ul > li:hover::before,
.active::before {
  width: 6rem;
}

nav > ul > li::before {
  content: "";
  height: 4px;
  width: 2rem;
  background-color: #f896d8;
  position: absolute;
  bottom: -4px;
  transition: width 0.2s ease-in-out;
}

nav > ul > li:not(:last-child) {
  margin-bottom: 1rem;
}
nav > ul > li > a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.active > a,
nav > ul > li:hover a {
  color: white;
}

/* navigation ends */

header .links {
  position: fixed;
  bottom: 5rem;
}
header .links > *:not(:last-child) {
  margin-right: 1rem;
}

.links i {
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.3s ease-in-out;
}

.links i:hover {
  color: white;
}

#cv {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: var(--bg-main-color);
  font-size: 20px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

#cv:hover {
  background-color: white;
}

.scroll-section {
  grid-column: 2;
  /* border: 1px solid white; */
  padding-right: 8rem;

  transition: all 0.4s ease-in-out;
}

.scroll-section > *:not(:last-child) {
  margin-bottom: 4rem;
}

.scroll-section p {
  color: rgba(255, 255, 255, 0.8);
}

.scroll-section a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
}

.scroll-section a:hover {
  color: #f896d8;
}

#a-propos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

#a-propos > button {
  background-color: transparent;
  padding: 10px;
  border: 2px solid white;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#a-propos > button:hover {
  background-color: #f896d8;
  border-color: #f896d8;
}

#a-propos > button:hover a {
  color: white;
}

.projet {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  border-bottom: 2px solid white;
}

.projet > h3 {
  font-size: 24px;
  font-weight: 600;
  color: white;
  transition: color 0.3s ease-in-out;
}

.projet:hover h3 {
  color: #f896d8;
}

.projet > .img-container {
  display: flex;
  max-height: 18rem;
  width: 100%;
  justify-content: center;
  /* border: 1px solid white; */
  overflow: hidden;
  position: relative;
}

.projet .img-container > img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
  cursor: pointer;
}

.projet .img-container:hover > img {
  transform: scale(1.2);
}

.projet > .techniques {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.projet > .techniques > button {
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
  padding: 5px 10px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}

.projet .projet-link {
  display: flex;
  gap: 2rem;
  cursor: pointer;
  text-decoration: underline;
}

#contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-bottom: 2px solid white;
  padding-bottom: 2rem;
}

#contact > ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

#contact > ul > li {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}

#techniques {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

#techniques h3 {
  margin-bottom: 2rem;
}

#techniques img {
  max-height: 90px;
  width: 75px;
  transition: transform 0.2s ease-in-out;
}

#techniques img:hover {
  transform: scale(1.1);
}

div.icons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 2rem;
}

@media (min-width: 1220px) and (max-height: 625px) {
  body {
    margin-block: 2rem;
  }

  .links {
    bottom: 2rem;
  }
}

@media (width <= 1220px) {
  body {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  header {
    position: relative;
    width: 100%;
    padding-right: 2rem;
  }

  header nav {
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(-50%);
  }

  header h1 {
    font-size: 32px;
  }

  header .links {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-start;
    right: 2rem;
    top: 15rem;
    gap: 1rem;
  }
}

@media (width <= 700px) {
  body {
    margin-inline: 2rem;
    margin-top: 3rem;
  }

  header {
    padding: 0;
  }

  header nav {
    display: none;
  }

  header .links {
    position: initial;
    margin-top: 1rem;
    flex-direction: row;
    align-items: center;
    height: min-content;
    gap: 0;
  }

  .scroll-section {
    padding: 0;
  }

  div.icons {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }

  #techniques img {
    max-height: 60px;
    width: 50px;
  }
}
